{% extends "layout.html" %}
{% block content %}
    <h1>User List</h1>
    <ul>
        {% for user in users %}
            <li>
                {{ user.firstname }} {{ user.lastname }}
            </li>
        {% endfor %}
    </ul>
{% endblock content %}